body{
  margin: 0;
  padding: 0;
  height: 100%;
  background: #647ACB;
}


.titulos-principales{
  margin: 0px;
  background-color: black;
}
h1{
  color:#fff;
  text-align: center;
}

.menu-navegacion a{
  display: inline-block;
  width: 100px;
  height: 20px;
  padding: 0 10px;
  margin: 0 10px;
  background: black;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.menu-navegacion{
  text-align: center;
}

.menu-navegacion li{
  display: inline;
}

ul{
  list-style: none;
}

.informacion-personal{
  border: 1px solid #ccc;
  width: 35%;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
}
h1,h2{
  text-align: center;
}

li:hover a{
  background: #3BA6DF;
}
a{
  text-decoration: none;
}
.footer{
  padding: 20px;
  height: 60px;
  background: gray;
  bottom: 0px;
}
